<md-content  ng-controller="restauracionController">
	<h1 flex layout-padding class="md-display-1">Dónde Restauramos ::</h1>
	<div layout="row" layout-xs="column">
		
		<div flex>
			<iframe width='100%' height='480' src='https://round.me/embed/36373/88402' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>

		<div flex>
			<leaflet maxbounds="maxbounds"  markers="markers" defaults="defaults" width="100%" height="480px"></leaflet>
		</div>
	</div>
</md-content>