<div layout="column" layout-align="center center">
	<div layout-align="center center">
			<div layout-align="center center">
				<img layout-align="center center" src="img/birdfair_2017.jpg" height="180"  alt="">
			</div>
			<div>
				<h1>BOSQUES PARA VOLAR::</h1>
				<p>Las <strong>Aves</strong> están de feria, acompañamos a celebrar!!</p>
				<p>29 de enero de 2017</p>
				<p>Siembra de <strong>Árboles</strong></p>
			</div>
	</div>
	<div>
			<h2 layout-margin layout-align="center center">Inscribete :: <a href="/bosquesparavolar">Bosques para Volar</a></h2>
	</div>
</div>