<div class="even" layout-align="center center" >
  <h1 layout-margin>Próximos Eventos</h1>
  <div layout="row">
    <div flex hide-xs>
      <img src="img/jaguar.png" height="480" alt="amatea">
    </div>
    <div layout="row" class="cont_event" layout-margin>
      <div layout-margin>
        <img src="img/icon_even.png" height="80" width="80" alt="amatea">
      </div>
      <div layout="column" >
        <h2>Bosques para Volar ::</h2>
        <span>26 de marzo de 2017</span>
        <span layout-margin>Cali - Colombia</span>
        <a href="https://amateapp.com"> <button layout-margin>Inscribete</button></a>
      </div>
    </div>
  </div>
</div>