<div>
	<ul class="bosques">
			<li class="logo">
				<img src="img/birdfair_2016.png" height="180"  alt="">
			</li>
			<li class="info_aves">
				<h1>BOSQUES PARA VOLAR::</h1>
				<p>Las <strong>Aves</strong> están de feria, acompañamos a celebrar!!</p>
				<p>23 de abril de 2016</p>
				<p>Siembra de <strong>Árboles</strong></p>
				<p>Inscribete :: <a href="#/bosquesparavolar">Bosques para Volar</a></p>
			</li>
			<li class="pajaro">
				<img src="img/pajaro_feria.png" height="250" alt="">
			</li>
	</ul>
</div>