<div   layout-align="center center">
	<div  layout="row" layout-xs="column" layout-align="center center">
			<div layout-margin flex>
				<img  src="img/birdfair_2017.jpg" height="180"  alt="">
			</div>
			<div flex>
				<h1>BOSQUES PARA VOLAR::</h1>
				<p>Las <strong>Aves</strong> están de feria, acompañamos a celebrar!!</p>
				<p>26 de marzo de 2017</p>
				<p>Siembra de <strong>Árboles</strong></p>
				<span>Sincronizate con la naturaleza</span>
			<!--h2 layout-margin layout-align="center center">Inscribete :: <a href="/bosquesparavolar">Bosques para Volar</a></h2 -->
			</div>
	</div>
</div>