<h2>con el Apoyo::</h2>
<div>
	<div layout="row" layout-align="center" layout-margin>
		<div class='rb'></div>
		<div class='jnj'></div>
		<div class='recamier'></div>
	</div>
	<div layout="row" layout-align="center" layout-margin>
		<div class='bancolombia'></div>
		<div class='bolivar'></div>
		<div class='sidoc'></div>
	</div>
</div>
<div>
	<div layout="row" layout-align="center" layout-margin>
		<div class='contreebute'></div>
		<div class='wwf'></div>
		<div class='natura'></div>
	</div>
	<div layout="row" layout-align="center" layout-margin>
		<div class='patrimonio'></div>
		<div class='javeriana'></div>
	</div>
</div>
<div layout="row" layout-align="center">
	<div class='parques'></div>
	<div class='cvc'></div>
	<div class='humboldt'></div>
	<div class='pais'></div>
</div>
