<div class="somos">
  <div layout="row" layout-xs="column">
    <div layout="column" layout-align="center center" layout-margin flex>
      <h1>Somos Huella Somos Eco</h1>
      <p>Programa de Gestión Ambiental Empresarial</p>
      <div class="cont" layout-align="center center" layout-margin>
        <p>Medimos + Sensibilizamos + Compensamos</p>
      </div>
      <div>
       <a href="http://amatea.co"><button>Conocenos::</button></a>
      </div>
    </div>
    <div layout-align="center center" flex>
      <img src="img/macdevice.png" alt="amatea">
    </div>
  </div>
</div>