extends layout

block content

  section.siembra_bosques
  h1
    | BOSQUES PARA VOLAR ::
  div
    p Vive la Experiencia de sincronizarte con la naturaleza
  h3
    a(href='http://amatea.org/#/bosquesparavolar')  Inscríbete Aqui :: 
    h2 Inscribete hasta el 20 de abril!!
    h2 Organizan ::
    div
      p
        img(src='../img/birdfair_2016.png', height='200px', alt='')
      p
        img(src='../img/logo parques.jpg', height='150px', alt='')
      p
        img(src='../img/Rio Cali Logo.jpg', height='150px', alt='')
      p
        img(src='../img/logo_amatea_2016.jpg', height='100px', alt='')