@font-face {
  font-family: opensans;
  src: url("/fonts/OpenSans-Regular.ttf");
 }


a:hover {
	color: #114948;
}

h1 {
	font-family: opensans;
	font-size: 2em;
	color: #433C20;
}

h2	{
	color: #433C20;
}

/* ------------------- loader */

.loader {
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #114948, 2em -2em 0 0em #114948, 3em 0 0 -1em #114948, 2em 2em 0 -1em #114948, 0 3em 0 -1em #114948, -2em 2em 0 -1em #114948, -3em 0 0 -1em #114948, -2em -2em 0 0 #114948;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #114948, 2em -2em 0 0.2em #114948, 3em 0 0 0 #114948, 2em 2em 0 -1em #114948, 0 3em 0 -1em #114948, -2em 2em 0 -1em #114948, -3em 0 0 -1em #114948, -2em -2em 0 -1em #114948;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #114948, 2em -2em 0 0 #114948, 3em 0 0 0.2em #114948, 2em 2em 0 0 #114948, 0 3em 0 -1em #114948, -2em 2em 0 -1em #114948, -3em 0 0 -1em #114948, -2em -2em 0 -1em #114948;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #114948, 2em -2em 0 -1em #114948, 3em 0em 0 0 #114948, 2em 2em 0 0.2em #114948, 0 3em 0 0em #114948, -2em 2em 0 -1em #114948, -3em 0em 0 -1em #114948, -2em -2em 0 -1em #114948;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #114948, 2em -2em 0 -1em #114948, 3em 0 0 -1em #114948, 2em 2em 0 0em #114948, 0 3em 0 0.2em #114948, -2em 2em 0 0 #114948, -3em 0em 0 -1em #114948, -2em -2em 0 -1em #114948;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #114948, 2em -2em 0 -1em #114948, 3em 0 0 -1em #114948, 2em 2em 0 -1em #114948, 0 3em 0 0 #114948, -2em 2em 0 0.2em #114948, -3em 0 0 0 #114948, -2em -2em 0 -1em #114948;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #114948, 2em -2em 0 -1em #114948, 3em 0em 0 -1em #114948, 2em 2em 0 -1em #114948, 0 3em 0 -1em #114948, -2em 2em 0 0 #114948, -3em 0em 0 0.2em #114948, -2em -2em 0 0 #114948;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #114948, 2em -2em 0 -1em #114948, 3em 0 0 -1em #114948, 2em 2em 0 -1em #114948, 0 3em 0 -1em #114948, -2em 2em 0 0 #114948, -3em 0em 0 0 #114948, -2em -2em 0 0.2em #114948;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em #114948, 2em -2em 0 0em #114948, 3em 0 0 -1em #114948, 2em 2em 0 -1em #114948, 0 3em 0 -1em #114948, -2em 2em 0 -1em #114948, -3em 0 0 -1em #114948, -2em -2em 0 0 #114948;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 #114948, 2em -2em 0 0.2em #114948, 3em 0 0 0 #114948, 2em 2em 0 -1em #114948, 0 3em 0 -1em #114948, -2em 2em 0 -1em #114948, -3em 0 0 -1em #114948, -2em -2em 0 -1em #114948;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em #114948, 2em -2em 0 0 #114948, 3em 0 0 0.2em #114948, 2em 2em 0 0 #114948, 0 3em 0 -1em #114948, -2em 2em 0 -1em #114948, -3em 0 0 -1em #114948, -2em -2em 0 -1em #114948;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em #114948, 2em -2em 0 -1em #114948, 3em 0em 0 0 #114948, 2em 2em 0 0.2em #114948, 0 3em 0 0em #114948, -2em 2em 0 -1em #114948, -3em 0em 0 -1em #114948, -2em -2em 0 -1em #114948;
  }
  50% {
    box-shadow: 0 -3em 0 -1em #114948, 2em -2em 0 -1em #114948, 3em 0 0 -1em #114948, 2em 2em 0 0em #114948, 0 3em 0 0.2em #114948, -2em 2em 0 0 #114948, -3em 0em 0 -1em #114948, -2em -2em 0 -1em #114948;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em #114948, 2em -2em 0 -1em #114948, 3em 0 0 -1em #114948, 2em 2em 0 -1em #114948, 0 3em 0 0 #114948, -2em 2em 0 0.2em #114948, -3em 0 0 0 #114948, -2em -2em 0 -1em #114948;
  }
  75% {
    box-shadow: 0em -3em 0 -1em #114948, 2em -2em 0 -1em #114948, 3em 0em 0 -1em #114948, 2em 2em 0 -1em #114948, 0 3em 0 -1em #114948, -2em 2em 0 0 #114948, -3em 0em 0 0.2em #114948, -2em -2em 0 0 #114948;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 #114948, 2em -2em 0 -1em #114948, 3em 0 0 -1em #114948, 2em 2em 0 -1em #114948, 0 3em 0 -1em #114948, -2em 2em 0 0 #114948, -3em 0em 0 0 #114948, -2em -2em 0 0.2em #114948;
  }
}


/* --------------------   header */

.header_amatea {
	background: #EFF2E7;
	overflow: hidden;
	display: block;
}

.header_logo {
	background-image: url("/img/logo_amatea.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin-left: 13px;
	float: left;
	width: 153px;
	height: 53px;
}
.header_nav {
	background-color: #114948;
	margin-left: 0px;
	display: inline-block;
	width: 100%;
}

	.header_ul {
		list-style: none;
		width: 80%;
		margin-left: 0px;
		margin-top: 8px;
		}

		.header_li{
			padding-top: 16px;
		}

			.header_li a {
				font-family: opensans;
				font-size: 1em;
				color: white;
				margin: 1em;
				height: 50px;
				width: 100%;
			}


.header_ul_redes {
	float: right;
	height: 25px;
	width: 70px;
	margin-right: 10px;
}

	.header_ul_redes li {
		background: #114948;
		border-radius: 50% 50% 50% 0%;
		height: 20px;
		width: 20px;
		list-style: none;
		display: inline-block;
		margin-top: 6px;
	}

		.header_ul_redes  .fb {
			background-image: url("/img/fb.png");
			background-size: 40% auto;
			background-repeat: no-repeat;
			background-position: center;
			width: 20px;
			height: 20px;
		}

		.header_ul_redes  .tw {
			background-image: url("/img/tw.png");
			background-size: 70% auto;
			background-repeat: no-repeat;
			background-position: center;
			width: 20px;
			height: 20px;
		}

		.header_ul_redes  .yt {
			background-image: url("/img/yt.png");
			background-size: 50% auto;
			background-repeat: no-repeat;
			background-position: center;
			width: 20px;
			height: 20px;
		}

@media screen and (min-width:768px){

	.header_nav	{
		background-color: #EFF2E7;
		height: 50px;
		float: right;
		width: 460px;
		overflow: hidden;
		margin-right: 15px;
	}

		.header_ul {
			list-style: none;
			width: 400px;
			margin-left: 0px;
			margin-top: 20px;
		}

			.header_li {
				font-family: opensans;
				font-size: 1em;
				display: inline;
				margin-left: 0px;
				margin-right: .2em;
			}

				.header_li a {
					color: #114948;
					margin: .4em;
					border-bottom: none;
				}
}

/* --------------------   contenido 1 */

.cuerpo {
	position: relative;
}

.content_vinculate{
	background-color: #F56223;
	border-radius: 0px 0px 0px 20px;
	float: right;
	margin: 0px;
	z-index: -3;
	
}
	.content_vinculate p {
		font-family: opensans;
		color: white;
		padding: 8px;
		margin: 0px;
	}

	.content_vinculate a:link {
		text-decoration: none;
	}

	.text_vinculate {
		color: white;
	}

.content_imagen {
	background-image: url("/img/home.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 100%;
	height: 200px;
	
}

	.content_imagen_icono {
		background: #114948;
		border-radius: 50% 50% 50% 0%;
		height: 100px;
		width: 100px;
		margin-left: 30%;
		opacity: 0.7;
		display: inline-block;
		margin-top: 10%
		
	}

		.content_imagen_icono_titulo {
			font-family: opensans;
			color: white;
			opacity: 30%;
			margin: 30px 0px 0px 20px;
		}

@media screen and (min-width:768px){

	.content_imagen {
		height: 400px;
	}

	.content_imagen_icono {
			margin-top: 15%;
		}
}

/* --------------------   contenido 2 */

.content2_cuadro1 {
	border: 1px solid #979797;
	margin-top: 30px;
	margin-left: 20%;
	vertical-align: center;
	width: 60%;
	
}

	.content2_cuadro1 p {
		font-family: opensans;
		font-size: 1.2em;
		color: #114948;
		text-align: center;
	}

.content2_cuadro2 {
	margin-top: 30px;
	margin-left: 25%;
	vertical-align: center;
	width: 50%;
	
}

	.content2_cuadro2 p {
			font-family: opensans;
			font-size: 1.2em;
			color: #F56223;
			text-align: center;
		}

.content2_cuadro3 {
	margin-top: 30px;
	margin-left: 25%;
	vertical-align: center;
	width: 50%;
	
}

	.content2_cuadro3 p {
			font-family: opensans;
			font-size: 1.3em;
			color: #114948;
			text-align: center;
		}
.content2_cuadro4 {
	margin-top: 30px;
	margin-left: 25%;
	vertical-align: center;
	width: 50%;
	
}

	.content2_cuadro4 p {
			font-family: opensans;
			font-size: 1em;
			color: green;
			text-align: center;
		}

/* --------------------   contenido 3 */


.content3_imagen {
	background-image: url("/img/home6.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 100%;
	height: 140px;
}

	.content3_imagen .titulo {
		padding-top: 10px;
		width: 100%;
	}

		.content3_imagen_titulo_1{
			background-color: #114948; 
			font-family: opensans;
			font-size: 1.8em;
			color: white;
			margin-left: 1.1em;
			border-radius: 0px 30px 0px 30px;
			padding: 7px 13px;
			width: 144px;
			height: 64px;
	}

		.content3_imagen_titulo_2 {
			font-family: opensans;
			font-size: .9em;
			color: white;
			margin-top: -60px;
			margin-left: 44px;	
	}
.content3_noticias {
	padding-left: 18px;
	background: #F56223;
}

	.content3_noticias .titulo {
		font-family: opensans;
		color: white;
		margin-top: 0px;
		margin-bottom: 0px;
		background: #F56223;
		height: 60px;
		padding: 10px 10px;	
	}
		.content3_noticias .titulo a:visited {
				color: white;
			}

	.content3_noticias .descripcion {
		display: none;	
	}

	.content3_noticias .info {
		display: none;
	}

@media screen and (min-width:768px) { 

	.content3_imagen {
		height: 360px;
		position: relative;
	}

	.content3_noticias {
		
		position: relative;
		float: left;
		margin-top: -220px;
		margin-left: 30px;
		background: #433C20;
		padding: 7px;
	}

		.content3_noticias .titulo {
			margin-top: 0px;
			background: #433C20;
			padding: 10px 10px 0px 10px;
			font-size: 1.3em;
			
		}

		.content3_noticias .descripcion {
			background: #433C20;
			font-family: opensans;
			color: white;
			display: inline;
			width: 100%;
			margin-left: 7px;
			
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.content3_noticias .info {
			display: list-item;
			
			background: #433C20;
			font-family: opensans;
			font-size: .9em;
			color: white;
			margin-top: 0px;
			padding: 10px 10px 10px 10px;
			list-style: none;
		}
			
			.content3_noticias .info a:visited {
				color: white;
			}

}

/* --------------------   footer */

/*  footer {
	overflow: hidden;
	background: #114948;
	color: white;
}

	footer section {
		width: 90%;
		margin-left: 1%;
		margin-top: 20px;
	}

	

	footer .content1 {
		float: left;
		margin-left: 35px;
		margin-top: 13px;
		margin-bottom: 25px;

	}

		footer .content1 .titulo1 {
			font-family: opensans;
			font-size: 1.3em;
			color: #7ED321;
		}

			footer .content1 .content1_all {
				border-right: 1px solid white;
				width: 250px;
				padding-right: 30px;
			}

		

	footer .content2 {
		display: inline-block;
		margin-top: 1px;
		margin-right: 40px;
		margin-left: 30px;
	}

		footer .content2 .titulo2 {
			color: #7ED321;
			border: 1px solid;
			font-weight: opensans;
			font-size: 1.1em;
			padding-left: 3px;
			
		}

			footer .content2 .descripcion {
				color: white;
			}

				footer .content2 ul {
					
				}

				footer .content2 ul li {
					display: inline-block;
					list-style: none;
					margin-left: -40px;
					margin-right: 10px;
				}

				footer .content2 .email {
					padding: 7px;
					border: 0px;
					border-radius: 7px 0px;
					color: green;
				}

				footer .content2 .boton {
					background: #7ED321;
					border: 0px;
					border-radius: 7px 0px;
					padding: 8px;
					color: #114948;
				}

	footer .content3 {
		display: inline-block;
		margin-left: 30px;
		margin-top: 9px;
	}

		footer .content3 .titulo {
			color: #7ED321;
			font-size: 1.1em;
			font-family: opensans;
		}

			footer .content3 .ico {
				background: #7ED321;
				height: 6px;
				border-radius: 2px 0px 0px 2px;
			}

				footer .content3 ul {
					border-right: 1px solid white;
					padding-right: 120px;
					list-style: none;
			}
					footer .content3 ul li {
						margin-bottom: 9px;
					}

						footer .content3 ul .ico {
							display: inline-block;
							width: 16px;
							height: 16px;
							border-radius: 6px 0px 6px 6px;
							background: #7ED321;
							margin-right: 7px;
						}

						footer .content3 ul a {
							color: white;
						}

						footer .content3 ul a:visited {
							color: white;
						}
	footer .dos_tres {
		float: right;
	}

@media screen and (min-width:768px) {

	footer .content1 {
		margin-left: 10px;
	}
}



/* ---- servicios */

.img_servicios {
	background-image: url("/img/servicios.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 100%;
	height: 250px;
}

	.img_servicios .titulo_servicos {
		float: left;
		margin-left: 30px;
		margin-top: 100px;
		position: absolute;
		z-index: 1
	}

		.img_servicios h2 {
			font-family: opensans;
			color: white;
			font-size: 1.2em;
		}

		.img_servicios p {
			display: inline;
			font-size: .7em;
		}

		.img_servicios .parrafo {
			font-size: 1em;
			color: white;

		}

	.content_img_servicios {
		background-color: #433C20;
		width: 85%;
		height: 100px;
		float: left;
		margin-top: 50px;
		margin-left: 20px;
		opacity: .7;
		padding: 10px;
	}

	@media screen and (min-width:768px) {

		.img_servicios {
			width: 100%;
			height: 480px;
		} 

		.img_servicios .titulo_servicos {
			margin-top: 350px;
		}

		.content_img_servicios {
			margin-top: 340px;
		}

		.img_servicios h2 {
			font-size: 1.6em;
		}
	}

		@media screen and (min-width:1024px){
			.img_servicios {
				width: 100%;
				height: 680px;
			} 
		}

/* ---- servicios 2*/

.img_servicios2 {
	
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

	.img_servicios2 h1 {
		font-size: 1.4em;
		margin-top: 50px;
		border: 1px solid green;
		text-align: center;
	}


	
		.img_servicios2 ul {
			list-style: none;
			width: 88%;
			text-align: center;
			margin-top: 10px;
			display: inline-block;
			
		}	

			.img_servicios2 ul li {
				display: inline-block;
				margin-right: 80px;
				margin-top: 80px;
			}

				.img_servicios2 ul li .value_somos {
					background-image: url("/img/somos_huella1.jpg");
					background-size: 140% auto;
					background-repeat: no-repeat;
					background-position: -40px 0px;
					background-color: #114948;
					border-radius: 50% 0% 50% 50%;
					width: 100px;
					height: 100px;
				
				}

				.img_servicios2 ul li .value_jaguar {
					background-image: url("/img/jaguar1.jpg");
					background-size: 138% auto;
					background-repeat: no-repeat;
					background-position: -40px 0px;
					background-color: #114948;
					border-radius: 50% 0% 50% 50%;
					width: 100px;
					height: 100px;
				
				}

				.img_servicios2 ul li .value_cumple {
					background-image: url("/img/cumple_siembra1.jpg");
					background-size: 138% auto;
					background-repeat: no-repeat;
					background-position: -40px 0px;
					background-color: #114948;
					border-radius: 50% 0% 50% 50%;
					width: 100px;
					height: 100px;
				
				}

				.img_servicios2 ul li .value_vivero {
					background-image: url("/img/vivero1.jpg");
					background-size: 138% auto;
					background-repeat: no-repeat;
					background-position: -40px 0px;
					background-color: #114948;
					border-radius: 50% 0% 50% 50%;
					width: 100px;
					height: 100px;
				
				}

					.img_servicios2 ul li  h3 {
						font-size: .8em;
						color: #114948;
						margin-top: -40px;
						width: 100%;
						text-align: right;
						float: left;
					}

	@media screen and (min-width:768px) {

		.img_servicios2 {
			background-image: url("/img/servicios_contenido.jpg");
			height: 500px;
		}

		.img_servicios2 h1 {
			margin-left: 24%;
			margin-right: 24%;
			font-size: 1.8em;
		}

			.img_servicios2 ul {
				width: 95%;
				margin-top: 60px;
			}

			.img_servicios2 ul li h3  {
				font-size: 1em;
				margin-top: -60px;
			}
	}

		@media screen and (min-width:940px){

			.img_servicios2 ul li .value_cumple {
					width: 100px;
					height: 100px;
				}

			.img_servicios2 ul li .value_camino {
					width: 100px;
					height: 100px;
				}

			.img_servicios2 ul li .value_cumple {
					width: 100px;
					height: 100px;
				}

			.img_servicios2 ul li .value_vivero {
					width: 100px;
					height: 100px;
				}
		}

			@media screen and (min-width:1370px){

				.img_servicios2 {
					background-image: url("/img/servicios_contenido.jpg");
					height: 680px;
			}

				.img_servicios2 ul li .value_somos {
					width: 240px;
					height: 240px;
				}

				.img_servicios2 ul li .value_jaguar {
					width: 240px;
					height: 240px;
				}

				.img_servicios2 ul li .value_cumple {
					width: 240px;
					height: 240px;
				}

				.img_servicios2 ul li .value_vivero {
					width: 240px;
					height: 240px;
				}


				.img_servicios2 ul li .value h3  {
				font-size: 1.4em;
				margin-top: -60px;
			}
			}

/* ---- hacemos--------*/

.img_hacemos {
	background-image: url("/img/hacemos.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 100%;
	height: 230px;
}

	.img_hacemos .titulo_hacemos {
		float: left;
		margin-left: 30px;
		margin-top: 70px;
		position: absolute;
		z-index: 1
	}

	.img_hacemos h2 {
			font-family: opensans;
			color: white;
		}

		.img_hacemos p {
			display: inline;
			font-size: .7em;
		}

		.img_hacemos .parrafo {
			font-size: 1em;
			color: white;

		}

	.content_img_hacemos {
		background-color: #433C20;
		width: 84%;
		height: 100px;
		float: left;
		margin-top: 60px;
		margin-left: 20px;
		opacity: .8;
		padding: 10px;
		z-index: 1;
	}

	@media screen and (min-width:768px) {

		.img_hacemos {
			width: 100%;
			height: 380px;
		} 

		.img_hacemos .titulo_hacemos {
			margin-top: 150px;
		}

		.content_img_hacemos {
			margin-top: 200px;
		}
	}

		@media screen and (min-width:1024px){
			.img_hacemos {
				width: 100%;
				height: 680px;
			} 
		}

			@media screen and (min-width:1124px){
			.content_img_hacemos {
				height: 130px;
			} 
		}

.hacemos2 {
	
	overflow: hidden;
} 

	.hacemos2 h1 {
		font-size: 1.6em;
		margin-top: 50px;
		border: 1px solid green;
		text-align: center;
	}

	.img_hacemos2 {
		display: none;
		background-image: url("/img/yarumo.png");
		background-size: 100% auto;
		background-repeat: no-repeat;
		width: 500px;
		height: 340px;
		position: relative;
		float: right;
	}

		.parr1 {
			margin-top: 50px;
			margin-left: 9%;
			width: 80%;
		}

		.parr2 {
			margin-top: 13px;
			margin-left: 9%;
			width: 80%;
		}

		.parr3 {
			margin-top: 13px;
			margin-left: 9%;
			width: 80%;
		}

	@media screen and (min-width:768px) {

		.hacemos2 h1 {
			margin-left: 24%;
			margin-right: 24%;
			font-size: 1.8em;
		}

		.img_hacemos2 {
			display: inline;

		} 
	}

.hacemos3 {
	overflow: hidden;
	background-color: #EFF2E7;
}

.hacemos3 h2 {
	font-size: 1.4em;
	margin-top: 50px;
	border: 1px solid green;
	text-align: center;
	color: 	
}

	.block {
		overflow: hidden;
		margin-bottom: 30px;
	}

	.block ul {
		text-align: center;
		text-decoration: none;
		margin-left: -30px;

	}

		.block ul li {
			overflow: hidden;
			border-radius: 20px;
			background-color: #144B4A;
			width: 300px;
			display: inline-block;
			margin-right: 60px;
			margin-bottom: 40px;
		}

			.block ul li h3 {
				font-family: opensans;
				font-size: 1.3em;
				color: white;
				text-align: center;

			}

			.block ul li div p {
				color: white;
				font-size: 1em;
				margin-left: 15px;
				margin-right: 10px;
			}

			.img_socios {
				background-image: url("/img/socios1.jpg");
				background-size: 100% auto;
				background-repeat: no-repeat;
				width: 300px;
				height: 204px;
			}

			.icon_hacemos {
				float: right;
				margin-right: 10px;
				margin-bottom: 10px;
				width: 50px;
				height: 50px;
				background-color: #7DCD40;
				border-radius: 50% 50% 50% 0%;
			}

			.img_proyectos  {
				background-image: url("/img/proyectos.jpg");
				background-size: 100% auto;
				background-repeat: no-repeat;
				width: 300px;
				height: 204px;
			}

			.icon_hacemos {
				float: right;
				margin-right: 10px;
				margin-bottom: 10px;
				width: 50px;
				height: 50px;
				background-color: #7DCD40;
				border-radius: 50% 50% 50% 0%;
			}

			.img_rest  {
				background-image: url("/img/restauracion.jpg");
				background-size: 100% auto;
				background-repeat: no-repeat;
				width: 300px;
				height: 204px;
			}

			.icon_hacemos {
				float: right;
				margin-right: 10px;
				margin-bottom: 10px;
				width: 50px;
				height: 50px;
				background-color: #7DCD40;
				border-radius: 50% 50% 50% 0%;
			}

	@media screen and (min-width:768px) {

		.hacemos3 h2 {
			margin-left: 24%;
			margin-right: 24%;
		}
	}

/* ---- contactenos--------*/

.contacto_form {
	background-color: #EFF2E7;
	
}
	
	.contacto_form_block {
		margin-left: 25%;
		width: 50%;
		margin-bottom: 40px;
	}

/* ---- formulario--------*/

.form {
	background-color: #EFF2E7;
	margin-bottom: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	
}

	.form-group {
		margin-bottom: 20px;
	}

		.form-group label {
			font-size: 1.2em;
			margin-bottom: 4px;
			color: #144B4A;
		}

			.form-group .texto {
				margin-top: 10px;
				height: 20px;
				

			}

			input, textarea {
				box-sizing: border-box;
			    -webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    border:1px solid #green;
			    padding: 7px;
			    margin:0px;
			    -webkit-transition: all 0.30s ease-in-out;
			    -moz-transition: all 0.30s ease-in-out;
			    -ms-transition: all 0.30s ease-in-out;
			    -o-transition: all 0.30s ease-in-out;
			    outline: none;
			}

			input:focus, textarea:focus {
				-moz-box-shadow: 0 0 8px #88D5E9;
			    -webkit-box-shadow: 0 0 8px #88D5E9;
			    box-shadow: 0 0 8px #88D5E9;
			    border: 1px solid #88D5E9;
			}

			button {
				background: #4B99AD;
			    padding: 8px 15px 8px 15px;
			    border: none;
			    color: #fff;
			}

			button:hover {
				background: #4691A4;
    			box-shadow:none;
    			-moz-box-shadow:none;
    			-webkit-box-shadow:none;
			}
/* ---- noticias--------*/

.noticias_titulo {
	margin: 0px;
	background-color: #EFF6F1;
}

	.noticias_titulo h1{
		margin: 0px;
		padding-top: 40px;
		padding-left: 20px;
		color: #4B99AD;
	} 

.noticias_detalle {
	margin-left: 20px;
	margin-right: 20px;
}

.img_noticias {
	width: 100%;
}

.noticias_fecha {
	font-size: .8em;
}

.noticias_botones {
	margin-left: 20px;
}

	.noticias_botones p {
		background-color: #4691A4;
		width: 90px;
		padding: 9px;
		border-radius: 10px;
	}

	.noticias_botones a {
		color: white;
	}

/* ---- proyectos--------*/
.proyectos {

	background-color: #EFF2E7;
	padding-top: 30px;
	border: 1px solid #EFF2E7;
}

.img_proyectos {
	width: 100%;
}

	.proyectos h1 {
		margin-top: 0px;
		margin-left: 20px;
	}

	.proyectos nav {

	}

		.proyectos nav ul {
			list-style: none;
			background-color: #D6E0CE;
			border-radius: 30px;
			margin-bottom: 30px;
			margin-left: 10px;
			margin-right: 20px;	
		}

			.proyectos nav ul h2 {
				padding-top: 20px;
			}

			.proyectos nav ul img {
				width: 310px;
			}

			.proyectos nav ul p {
				padding-bottom: 20px;
				margin-right: 20px;
			}
/* ---- proyectos--------
	.ventana_nav {
		display: inline-block;
		border: 1px solid;
	} 
		.proyectos .ventanas nav ul {
			display: inline-block;
		}
------ */

/* ------- Bosques para volar index--------- */

.bosques  {
	
	list-style: none;
	text-align: center;
	overflow: hidden;
}
	.bosques li {
		display: inline;
		text-align: center;
	};

	.bosques h1 {
		color: #49261F;
	
	}

	.info_aves {
		float: left;
		color: green;
		border: solid green 1px;
		border-radius: 25px ;
		width: 260px;
		margin-left: 5px;
		padding: 30px;
	}

	.logo {
		float: left;
		width: 200px;
		}

	.pajaro {
		width: 200px;
		float: right;
		margin-right: 150px;
		margin-top: 20px;
		
	}

/* ------- Bosques para volar--------- */

.siembra_bosques{
	text-align: center;
}

/* --------------APIDENDROS--------*/

.ave-avatar {
	width: 194px;
	height: 120px;

}

.ave-background {
	background-color: #004D40;
}

audio {
	width: 194px;
}

.bird {
	width: 33px;
}

.pajaro {
	width: 260px;
}

.imagenAve {
	max-width: 100%;
}
