<md-content md-theme="amatea-theme">
<md-toolbar class="md-hue-3">
    <div class="md-toolbar-tools">
    	<a href="#/admin"><md-button class="md-primary md-hue-1">Inicio</md-button></a>
        <a href="#/insertar_noticia"><md-button class="md-raised md-primary md-hue-1">Noticias</md-button></a>
        <a href="#/proyectos"><md-button class="md-raised md-primary md-hue-1">Proyectos</md-button></a>
		<a href="#/boton_donaciones"><md-button class="md-raised md-primary md-hue-1">Donaciones</md-button></a>
		<a href="#/inscritos"><md-button class="md-raised md-primary md-hue-1">Inscritos</md-button></a>
		<a href="#/contactos"><md-button class="md-raised md-primary md-hue-1">Contactos</md-button></a>
		<a href="#/"><md-button ng-click="logout()" class="md-primary md-hue-1">Cerrar </md-button></a>
    </div>
</md-toolbar>
</md-content>