<admin-toolbar></admin-toolbar>
<div layout="column" ng-cloak class="md-inline-form">
  <md-content layout-padding md-theme="amatea-theme">
	<h1>Insertar Proyecto</h1>

    <div>
      <form name="Form">

        <div layout-padding>

          <md-input-container md-no-float class="md-block" >
            <label>Titulo</label>
            <input ng-model="proyectos.titulo" required md-no-asterisk name="titulo">
            <div ng-messages="Form.titulo.$error">
          		<div ng-message="required">Es Requerido.</div>
        	</div>
          </md-input-container>

		    <md-input-container class="md-block" flex-gt-sm>
            <label>Objetivo</label>
            <input ng-model="proyectos.objetivo" required md-no-asterisk name="t">
            <div ng-messages="Form.t.$error">
          		<div ng-message="required">Es Requerido.</div>
        	  </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Descripcion</label>
            <input ng-model="proyectos.descripcion"  >
          </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Ubicacion</label>
            <input ng-model="proyectos.ubicacion" >
          </md-input-container>  
		
		    <md-input-container class="md-block" flex-gt-sm>
            <label>Coordinador</label>
            <input ng-model="proyectos.coordinador" >
           
          </md-input-container>  
        <md-input-container class="md-block" flex-gt-sm>
            <label>Imagen</label>
            <input ng-model="proyectos.imagen" placeholder="img/proyectos/proyecto#.jpg">
          </md-input-container>

            <label>Fecha Inicio:</label>
            <md-datepicker ng-model="proyectos.fecha1" class="md-block" flex-gt-sm></md-datepicker>
            <label>Fecha finalizacion:</label>
            <md-datepicker ng-model="proyectos.fecha2" class="md-block" flex-gt-sm></md-datepicker>
        </div>
        
      </form>
      <md-button class="md-raised md-primary md-hue-3"  ng-click="addProyecto()">Guardar</md-button>
    </div>
  </md-content>
</div>