<header class="header_amatea" md-scroll-shrink>
		<a href="#/inicio.html"><div  class="header_logo"></div></a>
		<ul class="header_ul_redes">
			<a href="http://www.facebook.com/amatea.org" target="_new"><li class="fb"></li></a>
			<a href="http://www.twitter.com/amatea_" target="_new"><li class="tw"></li></a>
			<a href="http://www.youtube.com/comunicateatv" target="_new"><li class="yt"></li></a>
		</ul>
		<nav class="header_nav">
			<ul class="header_ul">
				<li class="header_li"><a href="#/somos/" >Somos ::</a></li>	
				<li class="header_li"><a href="#/servicios/" >Servicios ::</a></li>		
				<li class="header_li"><a href="#/hacemos/" >Hacemos ::</a></li>		
				<li class="header_li"><a href="#/contactenos/" >Contactenos ::</a></li>			
			</ul>
		</nav>
	</header>