<footer ng-controller="footerCtrl" >
	<md-content layout="row" layout-align-xs="center" layout-xs="column" md-theme="amatea-theme-footer">
		<md-card layout-margin flex>
			<md-content>
				<md-toolbar class="md-hue-3">
					<div class="md-toolbar-tools">
						<md-card-title-text>
							<span class="md-headline"><a href="http://amateapp.com">amateapp ::</a></span>
						</md-card-title-text>
					</div>
				</md-toolbar>
				<div layout-margin>
					<div>
						<h3>Quiero reducir mi huella ecológica</h3>
					</div>
					<form name="form">
						<md-input-container class="md-block" flex-gt-sm>
							<label>Correo electrónico</label>
							<input ng-model="donacion.correo" required md-no-asterisk name="fase3" ng-pattern="/^.+@.+\..+$/">
							<div ng-messages="form.fase3.$error">
								<div ng-message-exp="['required', 'pattern']">Es Requerido, debe ser correo electronico</div>
							</div>
						</md-input-container>
					</form>
						<md-button class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="addDonacion(); showAlert($event); postMail(donacion);">Enviar</md-button> 
				</div>
				
				<div layout-margin>
					<h4>Una persona en promedio debe sembrar 10 árboles al año</h4>
					<h6>Por cuantos quires empeza? | (aplican costos por árbol)</h6>
				</div>
			</md-content>		
		</md-card>
		

		<md-card layout-margin flex>
			<md-content>
				<md-toolbar class="md-hue-3">
					<div class="md-toolbar-tools">
						<md-card-title-text>
							<span class="md-headline">Siguenos ::</span>
						</md-card-title-text>
					</div>
				</md-toolbar>
					<md-content md-theme="amatea-theme" layout="row" layout-align="center center">
				        <md-button  class="md-fab md-mini " ng-click="close()" target="_new" ng-href="http://www.facebook.com/amatea.org">
				          <md-icon md-svg-src="img/icons/facebook.svg"></md-icon>
				        </md-button>
				        <md-button  class="md-fab md-mini " ng-click="close()" target="_new" ng-href="http://www.twitter.com/amatea_">
				          <md-icon md-svg-src="img/icons/twitter.svg"></md-icon>
				        </md-button>
				        <md-button  class="md-fab md-mini " ng-click="close()" target="_new" ng-href="http://www.youtube.com/comunicateatv">
				          <md-icon md-svg-src="img/icons/youtube.svg"></md-icon>
				        </md-button>
	      			</md-content>
			</md-content>
		</md-card>
	</md-content>
</footer>