<md-content md-theme="amatea-theme">
	<div class="cuerpo">
		<div class="content">
			<div>
				<amatea-vinculate></amatea-vinculate>
			</div>
			<div class="content_imagen">
				<div class="content_imagen_icono">
					<p class="content_imagen_icono_titulo">Nuestro Hogar ::</p>
				</div>
			</div>
		</div>
		<!--div>
			<amatea-bosques></amatea-bosques>
		</div-->
		<div>
			<amatea-somos></amatea-somos>
		</div>
		<div>
			<amatea-eventos></amatea-eventos>
		</div>
		<!--div>
			<amatea-contenido></amatea-contenido>
		</div-->
		<div>
			<amatea-noticias></amatea-noticias>
		</div>
		<div>
			<amatea-marcas></amatea-marcas>
		</div>
	</div>
</md-content>