<md-content md-theme="amatea-theme">  
<div class="noticias_titulo">
	<h1>Noticias ::</h1>
</div>
<section class="noticias_detalle">
	<h1 >{{noticia.titulo}}</h1>
	<img class="img_noticias" ng-src = "{{noticia.imagen}}" >
	<p>{{noticia.descripcion}}</p>
	<p>{{noticia.contenido_1}}</p>
	<p>{{noticia.contenido_2}}</p>
	<p>{{noticia.contenido_3}}</p>
	<p class="noticias_fecha">{{noticia.timestamp |  date:'medium'}}</p>
</div>
</section>
<hr>
<section>
	<div class="noticias_botones">
		<a href="#/inicio.html"><md-button class="md-raised md-primary md-hue-3">Volver Inicio</md-button></a>
	</div>
</section>
</md-content>
