<div layout="column" Layout-align="center center">
  <h2> Hola!! </h2>
  <h3>Vive la experiencia de Bosques para Volar</h3>
  <h4>Estas a un solo paso de viverla!!</h4>
  <h3>Realiza tu aporte en el siguiente link:</h3>
  <div layout="column" Layout-align="center center" layout-padding layout -margin>
    <form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">
    <input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_pequeno.png" onClick="this.form.urlOrigen.value = window.location.href;"/>
    <input name="buttonId" type="hidden" value="3FTKAbpleNe5QB2IutYiCMI9b4YQPrE7/hnA7dg57hrmjoAHHuXPig=="/>
    <input name="merchantId" type="hidden" value="514533"/>
    <input name="accountId" type="hidden" value="515930"/>
    <input name="description" type="hidden" value="Actividad Siembra"/>
    <input name="referenceCode" type="hidden" value="01320"/>
    <input name="amount" type="hidden" value="60000.00"/>
    <input name="tax" type="hidden" value="0.00"/>
    <input name="taxReturnBase" type="hidden" value="0.00"/>
    <input name="shipmentValue" value="0.00" type="hidden"/>
    <input name="currency" type="hidden" value="COP"/>
    <input name="lng" type="hidden" value="es"/>
    <input name="approvedResponseUrl" type="hidden" value="https://www.amatea.org"/>
    <input name="displayBuyerComments" type="hidden" value="true"/>
    <input name="buyerCommentsLabel" type="hidden" value="es:¿tienes algún Comentario?"/>
    <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>
    <input name="buttonType" value="SIMPLE" type="hidden"/>
    <input name="signature" value="7b1f5b43ec3259db1436905b07f6d1eec51e74ba0231aca18a02d7be1c4efa2b" type="hidden"/>
  </form>
  </div>
  
</div>