
<md-content layout-padding>
	<h1 >Proyectos ::</h1>
	<span class="md-title">Principales proyectos ejecutados</span>
</md-content>
<div class="md-padding" layout-xs="column" layout-sm="column" layout-md="column" layout="row">
	<div ng-repeat="proyecto in proyecto" >
	  <md-content>
	      <md-card flex>
	      <md-card-header>
          <md-card-avatar>
            <img src="img/logo_ubi.jpg"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">Ubicación::</span>
            <span class="md-subhead">{{proyecto.ubicacion}}</span>
          </md-card-header-text>
        </md-card-header>

        <md-content>
        	

        	<md-card-title layout="row" layout-xs="column" >
        		<md-card-title-media flex>
            		<img ng-src="{{proyecto.imagen}}" class="md-card-image" alt="Washed Out">
          		</md-card-title-media>
		        
		          <md-card-title-text layout-margin>
		            <span class="md-headline">{{proyecto.titulo}}</span>
		            <span class="md-subhead">Objetivo:: {{proyecto.objetivo}}</span>
	          	  </md-card-title-text>
	            </md-card-title>
	        </md-card-content>
	        <md-content>
	        <md-card-content>
	          <p>
	            Descripcion:: {{proyecto.descripcion}}
	          </p>
	        
	        <md-card-actions >
	        <md-card-title  >    
	          <md-card-title-text layout="row">
	          <span class="md-subhead" layout-margin>Periodo::</span>
	      
	          	<span class="md-subhead" layout-margin>{{proyecto.fecha2 | date}}</span>
	          	
	          </md-card-title-text>
	        
	         </md-card-title>
	        </md-card-actions>
	      </md-card>
	    </md-content>
	 
	</div>
</div>
<section>
	<div class="noticias_botones">
		<p><a href="#/hacemos">Volver</a></p>
	</div>
</section>