<section>
	<div>
		<amatea-vinculate></amatea-vinculate>
	</div>
	<div class="img_servicios">
		<div class="titulo_servicos">
			<h2>Sincronízate <p>con la</p> Naturaleza ::</h2>
			<p class="parrafo">Acciones acordes con los ciclos naturales</p>
		</div>
		<div class="content_img_servicios"></div>
	</div>
</section>
<section>
	<div class="img_servicios2">
		<h1>: : Nuestros Servicios : :</h1>
		<div class="servicios2_content">
			<ul>
				<li>
					<div class="value_somos">
						<h3>Somos Huella Somos Eco</h3>
					</div>
				</li>
				<li>
					<div class="value_jaguar">
						<h3>Camino del Jaguar</h3>
					</div>
				</li>
				<li>
					<div class="value_cumple">
						<h3>Cumple Siembra</h3>
					</div>
				</li>
				<li>
					<div class="value_vivero">
						<h3>Vivero</h3>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>