<md-content>
	<md-content layout-padding>
		<h1>Quiero Sembrar mi Árbol</h1>
		<span></span>
	</md-content>
	<div layout="column" ng-cloak class="md-inline-form">
		<md-content layout-padding>
			<form name="Form" ng-init="donaciones.cantidad=1">
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm >
			  	        <label>Nombre(s) ::</label>
			  	        <input required name="clientName" ng-model="donaciones.nombre" ng-required="true">
			  	        <div ng-messages="userForm.clientName.$error">
			            	<div ng-message="required">Se requiere esta información::</div>
			            </div>
	      			</md-input-container>
	      		</div>
	      		<div layout-gt-sm="row">	
	      			<md-input-container class="md-block" flex-gt-sm>
				        <label>Correo Electronico ::</label>
				        <input ng-model="donaciones.correo" type="email">
      				</md-input-container>
	      		</div>
	      		<div layout-gt-sm="row">
	      			<md-input-container class="md-block" flex-gt-sm>
	      			<label>Cúantos Arboles quiero sembrar ::</label>
	      			<input ng-model="donaciones.cantidad" min="0" type="number">
	      		</div>
			</form>
		</md-content>	
		<a href="#/bosques_gracias/"><md-button class="md-accent md-hue-2" ng-click="addDonacion()">Enviar</md-button></a>
			<md-content layout-padding>
			    <h2>Total: {{donaciones.cantidad * 26000 | currency:"$ ":0}}</h2>
			</md-content>
	</div>		
	
</md-content>