<section>
  <div class="img_header">
    <div>
      <div>
        <p>sincronízate con la naturaleza</p>
        <h2>Somos Huella Somos Eco</h2>
      </div>
    </div>
  </div>
  <div>
    <div flex-offset="10" flex="80">
      <h2 layout-align="center center">Aprende a reconocer a través de los sentidos, en medio de la naturaleza, los biorritmos que nos permiten armonizarnos en la vida diaria.</h2> 
    </div>
    
    <div layout="row">
      <div flex-offset="5" flex="40">
        <img src="img/footprint2.jpg">
          
        </img>
      </div>
      <div flex-offset="10" flex="30">
        <span>
          Para <strong>Amatea</strong> es vital que los grupos humanos y las familias que hacen parte de las organizaciones de nuestro programa :Somos Huella
          Somos Eco:: entren en Sincronía con la Naturaleza, todas y todos hacemos parte de este propósito planetario.
        </span>
      </div>
    </div>
    
      <div class="phrase" flex-offset="10" flex="80">
        Lo más importante de tu participación en la jornada ecológica es que traigas muy buena disposición para: caminar, conectarte con la naturaleza, disfrutar, relajarte, compartir, respirar aire fresco
      </div>
      <h2 class="fp-info" flex-offset="10" flex="80">¡RECUERDA TRAER TU CORAZÓN LLENO DE AMOR PARA HACER TU ENTREGA A LA MADRE TIERRA!</h2>
      <div>
      <md-toolbar>
        <div class="md-accent" flex-offset="20" flex="60">
          <h2>Lista de chequeo</h2>
          <p>recuerda llevar:</p>
        </div>
      </md-toolbar>
      <div class="check-list">
        <md-list-item ng-repeat="topping in toppings" layout="row" flex-offset="20" flex="60">
        <p flex><i class="material-icons md-blue notranslate">check</i> {{ topping.name }}</p>
        <md-checkbox class="md-secondary" ng-model="topping.wanted" flex></md-checkbox>
      </md-list-item>
      </div>
    </div>
    <md-content>
    <md-list class="recommendations">
      <md-list-item class="md-3-line" ng-repeat="item in messages">
        <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}">
        <div class="md-list-item-text">
          <p>{{item.message}}</p>
        </div>
        <md-divider md-inset ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>
</section>